/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  font-size: 2rem;
}img{
  display: block;
  margin: 0 auto;
  width: 35%;
}
body {
  text-align: center;
  background: rgb(47, 47, 133);
}
.excuse,
.fact {
  color: rgb(219, 230, 72);
  font-size: 1.5rem;
}
h3 {
  color: orange;
  margin-top: 5px;
}
.yoMama {
  background: black;
  color: yellow;
}
.insult {
  color: rgb(138, 39, 39);
  font-size: 2rem;
  font-weight: bold;
}
span {
  font-size: .8rem;
}
.fact {
  margin-bottom: 100px;
}
.main {
  margin: 0 auto;
  padding: 20px 50px 50px 50px;
  width: 90%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.363);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
